<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p> -->
<div class="text-center" style="margin-top: 20px">
  <h1>Stupid coaching</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->
  <div class= "answer">
    <h5><strong><%= @question %></strong></h5>
    <h5><%= @answer %></h5>
  </div>
<%= link_to "Add a new question", ask_path %>
</div>
